//  Main Content 
.flex-1.p-10
  h1.text-3xl.font-bold Kritik Nilai
  p.mt-4 Jika ada penilaian yang diragukan, sertakan bukti dalam bentuk pdf
  .container.mx-auto
    textarea.textarea.textarea-bordered.textarea-lg.textarea-custom(placeholder="Ketik disini")
  .mt-4
    input.file-input.file-input-bordered.w-full.max-w-xs(type="file")
    button.btn.btn-success.mt-2 Kirim