<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <style>
  </style>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.1/tailwind.min.css'>
</head>
<body class="flex flex-col items-center justify-center w-screen h-screen bg-gray-200 text-gray-700">

  <h1 class="font-bold text-2xl">EduSkor</h1>
  <form id="loginForm" class="flex flex-col bg-white rounded shadow-lg p-12 mt-12" action="">
    <h2 class="mb-8 text-2xl font-bold text-gray-900 dark:text-white">Forgot your password?</h2>
    <label class="font-semibold text-xs" for="usernameField">Username</label>
    <input id="usernameField" class="flex items-center h-12 px-4 w-64 bg-gray-200 mt-2 rounded focus:outline-none focus:ring-2" type="text">
    <label class="font-semibold text-xs mt-3" for="newpasswordField">New Password</label>
    <input id="newpasswordField" class="flex items-center h-12 px-4 w-64 bg-gray-200 mt-2 rounded focus:outline-none focus:ring-2" type="newpassword">
    <label class="font-semibold text-xs mt-3" for="confirmnewpasswordField">Confirm New Password</label>
    <input id="confirmnewpasswordField" class="flex items-center h-12 px-4 w-64 bg-gray-200 mt-2 rounded focus:outline-none focus:ring-2" type="confirmnewpassword">
    <button id="loginButton" class="flex items-center justify-center h-12 px-6 w-64 bg-blue-600 mt-8 rounded font-semibold text-sm text-blue-100 hover:bg-blue-700" href="">Reset Password</button>
    <div class="flex mt-6 justify-center text-xs">
    </div>
  </form>
</body>
</html>