doctype html
html
  head
    title My Express Website
    link(rel="stylesheet" href="/css/styles.css")
  body
    include ../partials/navbar
    include ../partials/topbar
    .content
      block content
