html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Profile
    link(href="https://cdn.lineicons.com/4.0/lineicons.css", rel="stylesheet")
    link(rel="stylesheet", href="/public/stylesheets/viewprofile.css")
  body
    aside#sidebar
      input(type="checkbox", name="", id="toggler")
      label(for="toggler", class="toggle-btn")
        i.lni.lni-grid-alt
      ul.sidebar-nav
        li.sidebar-item
          a.sidebar-link(href="#")
            span Dashboard
            i.lni.lni-grid
        li.sidebar-item
          a.sidebar-link(href="#")
            span Profile
            i.lni.lni-user
        li.sidebar-item
          a.sidebar-link(href="#")
            span Nilai
            i.lni.lni-clipboard
        li.sidebar-item
          a.sidebar-link(href="#")
            span Mata Kuliah
            i.lni.lni-library
      .sidebar-footer
        a.sidebar-link(href="#")
          span Logout
          i.lni.lni-exit
    .main
      .dashboard-navbar
        form(action="#")
          .nav-search
            input(type="text", class="search-query", placeholder="Search...")
            button.btn(type="button") Search
        .navbar-content
          ul.main-nav
            li.user-link
              a(href="#")
                img.avatar(src="account.png", alt="Profile")
              .user-link-dropdown
                a.dropdown-item(href="#") Profile
                a.dropdown-item(href="#") Logout
      .content
        h2 Profile Saya
        form#profileForm
          .form-group
            label(for="namaLengkap") Nama Lengkap
            input(type="text", id="namaLengkap", name="namaLengkap", value="Maharani", disabled)
          .form-group
            label(for="ttl") Tempat / Tanggal Lahir
            input(type="text", id="ttl", name="ttl", value="Bandung / 4 Maret 2000", disabled)
          .form-group
            label(for="alamatLengkap") Alamat Lengkap
            input(type="text", id="alamatLengkap", name="alamatLengkap", value="Jalan.123", disabled)
          .form-group
            label(for="noTelp") Nomor Telepon
            input(type="text", id="noTelp", name="noTelp", value="081289384765", disabled)
          button.btn(type="submit") Edit
