meta(charset="UTF-8")
meta(name="viewport", content="width=device-width,initial-scale=1")
link(href="https://cdn.jsdelivr.net/npm/daisyui@4.12.2/dist/full.min.css", rel="stylesheet", type="text/css")
script(src="https://cdn.tailwindcss.com")
title Document
style.
  
  .bg-custom {
              background-color: #16105B;
          }
.w-64.bg-custom.h-screen.text-white
  .p-6
    img.w-24.h-24.mx-auto(src="/unand.png", alt="Logo")
  ul
    li.p-4
      a(href="/").hover-bg-gray-700 Dashboard
    li.p-4
      a(href="/admin").hover-bg-gray-700 Profil
    li.p-4
      a(href="/mahasiswa/nilaimk").hover-bg-gray-700 Nilai
    li.p-4
      a(href="/mahasiswa/matakuliah").hover-bg-gray-700 Matakuliah
    li.p-4
      a(href="/mahasiswa/bantuan").hover-bg-gray-700 Bantuan
